<div class="ui segment">
  <%= form_for @ticket, :url => {:controller => 'ticket', :action => 'create'} do |f| %>

      <p>要產生的票券張數</p>

      <p><input type="text" name="n" /></p>

      <input type="submit" value="Generate">

  <% end %>
</div>