<!DOCTYPE html>
<html>
<head>
  <title>MuseumNavWeb</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/vendor/semantic-ui-1.12.3/semantic.min.css" />
  <script src="/vendor/semantic-ui-1.12.3/semantic.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
